.home {
	& .header {
		display: flex;
		justify-content: space-between;
		& a {
			text-decoration: none;
		}
	}
	& .switcher{
		border-bottom: 1px solid #ccc;
		& .active{
			border-bottom: 2px solid #00f;
		}
	}
}
