.tlthread {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	& > .reason {
		margin-left: 25px;
		color: #555;
	}
}
.tlpost {
	display: flex;
	& > .left {
		display: flex;
		flex: 0;
		flex-direction: column;
		& > .avatar {
			border-radius: 999px;
		}
		& > .replybar {
			flex-grow: 1;
			width: 0px;
			margin-right: auto;
			margin-bottom: 1px;
			margin-left: auto;
			border: 2px solid #555;
			border-radius: 999px;
		}
		& > .longreplybar {
			flex: 0;
			width: 0px;
			height: 0px;
			margin-top: 2px;
			margin-right: auto;
			margin-bottom: 2px;
			margin-left: auto;
			border: 2px solid #555;
			border-radius: 999px;
		}
	}
	& > .content {
		flex-grow: 1;
		min-width: 0;
		& > .author {
			display: flex;
			& > .name {
				flex-grow: 0;
				flex-shrink: 2;
				overflow: hidden;
				text-overflow: ellipsis;
				font-weight: bold;
				white-space: nowrap;
			}
			& > .handle {
				flex-shrink: 1;
				overflow: hidden;
				text-overflow: ellipsis;
				color: #555;
				white-space: nowrap;
			}
		}
		& > .openthread {
			color: blue;
		}
	}
}
