.win-tomo-x-skycore-units-external-embed {
	& > a {
		display: block;
		border: 1px solid gray;
		border-radius: 15px;
		overflow: clip;
		margin: 8px 30px 15px 0;
		color: black;
		text-decoration: none;
	}
	& img {
		object-fit: cover;
		aspect-ratio: 1.91 / 1;
		width: 100%;
	}

	& .content {
		padding: 1px 10px 2px;
		& .title {
			font-weight: bold;
			font-size: 1.15em;
			line-clamp: 2;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		& .description {
			line-clamp: 2;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		& hr {
			border-color: #ddd;
		}
		& .hostname {
			color: #888;
			display: flex;
			align-items: center;
		}
	}
}
