.win-tomo-x-skycore-unit-skyblurembed {
	margin: 8px 30px 15px 0;
	min-height: 80px;
	border: 1px solid gray;
	border-radius: 15px;
	position: relative;
	& > .loading {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80px;
	}
	& > .main {
		& > .open {
			background: transparent;
			border: none;
			display: flex;
			height: 60px;
			justify-content: center;
			align-items: center;
			width: calc(100% - 20px);
			font-size: 1.2em;
			margin: 10px;
			&:hover {
				text-decoration: underline;
			}
		}
		& > .content {
			white-space: pre-wrap;
			word-break: break-word;
			overflow-wrap: break-word;
			&>hr{
				border-color: #ddd;
			}
		}
		& .openadditional {
			display: block;
		}
		& .additional {
			white-space: pre-wrap;
			word-break: break-word;
			overflow-wrap: break-word;
		}
	}
	& > .link {
		position: absolute;
		bottom: 0;
		right: 10px;
		display: flex;
		align-items: center;
	}
}
