.leftNav {
	border-right: 1px solid #ccc;
	& .profile {
		display: flex;
		flex-direction: column;
		gap: 8px;
		font-size: 15px;
		& img {
			width: 50px;
			height: 50px;
			border: 1px solid gainsboro;
			border-radius: 9999px;
		}
		& .display-name {
			font-size: 16px;
			font-weight: 800;
		}
		& .count {
			font-weight: 600;
		}
	}
	& .navlist {
		display: flex;
		flex-direction: column;
		& ul {
			padding: 0;
			margin: 0;
		}
		& li {
			padding: 10px 0;
			list-style: none;
			& a {
				display: flex;
				font-size: 25px;
				line-height: 25px;
				color: black;
				text-decoration: none;
			}
			&:hover {
				background-color: #eee;
			}
		}
	}
}

.rightNav {
	display: flex;
	border-left: 1px solid #ccc;
}
