.flex {
	display: flex;
}
.block {
	display: block;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.fixed {
	position: fixed;
}
.justify-center {
	justify-content: center;
}
.items-center {
	align-items: center;
}

* {
	padding: 0;
	margin: 0;
	font-family: "Inter", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-optical-sizing: auto;
}
